---
import Head from '../components/head/index.astro';
import Topbar from '../components/topbar/index.astro';
import type { Metadata } from '../core/types/metadata';
const metadata: Metadata = {
    title: "Vely",
    description:
      "Descubre Vely, la nueva herramienta que te ayudará a gestionar tus clases y talleres. Únete a nuestra lista y sé de los primeros en recibir novedades y acceso exclusivo cuando lancemos.",
  };
---



<!doctype html>
<html lang="en">
	<Head metadata={metadata} />
	<body>
		<Topbar />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
	main {
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 56px;
	}
</style>
